@import "variables";
@import "operaciones";
@import "generales";
@import "movie";
@import "tablets";
@import "ipads";

/* DESKTOP */  

@media(min-width: 1024px){

/* STYLE INDEX */
/* LOGO, TITULO Y MENU CON TRANSICION */

  #grilla{
    display: grid;
    grid-template-areas: 
      "header"
      "section"
      "trabajos"
      "article"
      "galeria"
      "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

.logoPrincipal{
  height: 70px;
  margin-right: 5px;
  border-radius: 100%;
}

.tituloEmpresa{
  color: $color;
  font-size: 1em;
  font-weight: bold;
}
.menu{
  color: $color;
  font-size: 0.8em;
  padding-right: 30px;
}

/*SECCION HOME PAGINA PRINCIPAL CON IMAGEN DE FONDO Y ENLACE DE SERVICIOS*/

.imgHome{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 40px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)),url(../img/nosotros.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.position {
  div{
  color: white;
  text-align: end;
  padding: 40px 20px;
  position: static;
  }
}

.textHomeUno{
  position: static;
  background: linear-gradient(rgb(5, 7, 12), rgb(5, 7, 12));
  font-size: 2em;
  padding: 15px 10px;
  display: flex;
  justify-content: flex-end;
}

.textHomeDos{
  position: static;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.buttonIndex{
  position: static;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 25px;
  border: 3px solid $color;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: ease-out 0.5s;
    &:hover{
      background-color: $color;
      color: palevioletred;
      transition: ease-out 0.5s;
    }
}

/* SEGUNDA SECCION CON IMAGENES Y ENLACES ESPECIFICOS DE LOS SERVICIOS */

#trabajos{
  background-color: rgb(30, 30, 30);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 86vh;
  gap: 10px;
  padding-top: 15px;
  
}

#trabajos .carta{
  position: static;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center center;
}

.carta:first-child{
  position: static;
  background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)),url(../img/kapping.png);
}

.carta:nth-child(2){
  position: static;
  background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)),url(../img/esmaltado.jpg);
}
.carta:nth-child(3){
  position: static;
  background-image: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.3)),url(../img/esculpidas.png);
}

.carta{
   h3{
  position: static;
  font-size: 2em;
  padding: 20px;
  margin: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
}

.buttonInfo{
  position: static;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  padding: 10px 25px;
  border: 3px solid $color;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: ease-out 0.5s;
    &:hover{
      background-color: $color;
      color: palevioletred;
      transition: ease-out 0.5s;
    }
}

/* ARTICULO SOMOS AGUS NAILS */

.gridArt{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  padding: 100px;
  color: white;
  text-align: start;
  }

  .gridArt {
    h4{
    position: static;
    font-size: 1.5em;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  }

  .gridArt{
    p{
      position: static;
      font-size: 1em;
      text-align: start;
      
    }
  }

  /* SECCION GALERIA DE FOTOS CAROUSEL */
  
  #galeria{
   img{
    height: 60vh;
    }
  }


/* FOOTER DE TODAS LAS SECCIONES */

#flexFooter{
  span{
      a{
      padding: 20px;
      }
     }
}


#flexFooter {
  span{
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.pieFooter{
  color: white;
}

/* STYLE DE SERVICIOS*/

  .sectionServicios{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/imgServicio.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      h1{
        color:white;
        font-size: 2.5em;
        text-align: center;
        padding-bottom: 15px;
      }
      p{
        color: $color;
        font-size: 1.5em;
        text-align: center;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.251);
      }
     }

  /* SECCION DE SERVICIOS */

  .muestraServicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    padding: 20px;
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/ladrillo.jpg);
  }

  .divServicio{
    background-color: rgba(255, 192, 203, 0.797);
    width: 100%;
    height: 40hv; 
    
  }

  .divServicio {
    img{
    width: 100%;
    height: 15em;
    display: flex;
    }
  }
  
  .tituloServis{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .parrafoServis{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   padding: 10px;
   text-align: start;
  }

 /* TURNOS DE STYLE */

 #imgTurnos{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/salon.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.turnos{
  padding: 250px 400px 200px 400px;
  width: 25%;
  font-size: 1em;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: rgba(5, 7, 12, 0.50);
  text-align: center;
}



/* NOSOTROS STYLE */

#imgNosotros{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/nosotros.jpeg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.empleo{
  padding: 250px 400px 200px 400px;
  width: 25%;
  font-size: 1em;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: rgba(5, 7, 12, 0.50);
  text-align: center;
}

/* CURSOS STYLE */

.cursoFondo{
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/cursoFondo.jpg); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1{
      color:white;
      font-size: 2em;
      text-align: center;
      padding-bottom: 15px;
    }
    p{
      color: white;
      font-size: 1em;
      text-align: center;
      width: 50%;
    }

}
    .cursoGrid{
      background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../img/ladrillo.jpg);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 0px; 
      padding: 8px;
      h5{
        padding-top: 8px;
        padding-bottom: 8px;
      }
      p{
        padding-bottom: 8px;
      }
      .card{
        background-color: rgba(255, 192, 203, 0.797);
      }
    }

    .btn{
      &:hover{
        background-color: $color;
        color: palevioletred;
        transition: ease-out 0.5s;
      }
    }
}